/* navbar design */




.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}


.logo{
    font-family: inter;
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    margin-top: 50px;
    margin-bottom: 50px;
}

.primary-btn{
    background-color: #4E47FF;
    margin-top: 51px;
    margin-bottom: 51px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
}


.heading{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding-top: 158px;
    color: #252432;
    
}

.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 150px;
}

.btn{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
}

/* main styles */

main{
    margin-left:150px ;
    margin-right:150px ;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 116px;
}

.action-heading{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-des{
    color: #25243280;
    font-size: 24px;

}

.live-pre-btn{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
}

.webflow-img{
    height: 330px;
    border-radius: 48px;
}

/* user-number-des styles */


.users-section{
    height: 360px;
    background-color:rgb(227, 227, 238);
    border-radius: 24px;
    padding: 50px 100px;
}

.user-heading{
    font-size: 38px;
    color: #2b2a36;
    text-align: center;

}

.user-number-des{
    font-family: inter;
    display: flex;
    justify-content: space-evenly;
    
}

.user-number{
    color: #4E47FF;
    font-size:80px;
    font-weight: bold;
}

.user-des{
    font-size: 20px;
    color: #00000080;
    
}

/* review section */

.review-title{
    text-align: center;
    font-size: 42;
    font-weight: bold;
    padding-bottom:50px ;
    margin-top: 137px;
}

.review-section{
    margin-bottom: 137px;
    display: flex;
    justify-content: space-evenly;
}

.reviews{
    background-color: #ffffff;
    padding: 25px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: rgb(239, 190, 84,.30);
    border-radius: 10px;
}

.review-heading{
    font-weight: bold;
}

.profile{
    border-radius: 50%;
}

.review-profile{
    display:flex;
    align-items: center;
}

.reviewer-info{
    margin-left: 15px;
}

.des{
    color: #2b2a36;
}

.reviewer-name{
font-weight: bold;
color: #68686c;
}

.date{
    font-family: inter;
    color: #909093;
}